.input-form {
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.input {
    width: 60%;
    margin-right: 5px;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
    border: none;
    font-size: 14px;
    padding-bottom: 4px;
    padding-top: 2px;
    margin-bottom: 0;
    color: hsl(219, 32%, 31%);
}